node_modules
dist

.DS_Store
.cache
.astro
.vercel
.output
.nitro
.wrangler
*.local
.env
/build/
/api/
/server/build
/public/build
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.tanstack

.source
